*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header-top{
    background: rgb(23, 4, 66);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

h1{
    margin-left: 50px;
    color: white;
    width: 50%;
}

nav{
    width: 50%;
    padding-right: 50px;   
}

ul{
    display: flex;
    color: white;
    list-style: none;
    justify-content: space-around;
    margin-left: 50%;
}   
    

li a{
    padding: 15px;
    color: white;
    text-decoration: none;
}

li a:hover{
    background: rgb(58, 33, 119);
}

h2{
    padding: 30px 15px 3px;
    font-size: 38px;
    border-bottom: 2px solid rgb(23, 4, 66);
    margin-right: 60%;
    margin-bottom: 30px;
    
}

main{
    background: #ccc;
}

.section-velhoTestamento, .section-novoTestamento{
    display: flex;
    justify-content: space-around;
}

.div-container{
    font-size: 30px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.nome-velhoTestamento, .nome-novoTestamento{
    background: #ccc;
    padding: 0 135px;
    text-align: center;
    text-decoration: none;
}

a:hover{
    background: rgb(23, 4, 66);
    color: white;
}

#contato{
    background: rgb(23, 4, 66);
    color: white;
    font-size: 20px;
    padding: 1rem;
}

#contato > div{
    display: flex;
    gap: 5rem ;
    justify-content: center;

    padding: 1rem;

}

.logo{

    background: none;
}




.divisao{
    height: 1px;
    background: #535353;
}